<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<section th:fragment="interceptor">
		<div class="alert alert-success" th:if="${tiempotranscurrido != null}">
			<span th:text="'Tiempo transcurrido: ' + ${tiempotranscurrido} + ' en milisegundos'"></span>
		</div>
	</section>
</body>
</html>