<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Recibir Parametros del Request</title>
</head>
<body>
	<h1>Recibir Parametros del Request</h1>
	<div th:text="${resultado}"></div>
</body>
</html>