<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<!-- <link rel="stylesheet"	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
</head>
<body>
	<section th:replace="componentes/tiempo :: interceptor"></section>
	<h3 th:text="${titulo}"></h3>
	<div class="container">
		<form th:action="@{/form}" th:object="${usuario}" method="post">

			<div class="form-check form-switch mb-3">
				<div class="col-sm2">
					<input type="checkbox" class="form-check-input" id="habilitar" th:field="*{habilitar}">
					<label for="habilitar" class="form-label">habilitar</label>
				</div>
			</div>

			<div class="form-group row mb-3">
				<label for="genero" class="form-label col-sm-2">Genero</label>
				<div class="form-check col-sm-2" th:each="g : ${listagenero}">
					<input type="radio" class="form-check-input" th:field="*{genero}" th:value="${g}"> <label
						for="${#ids.prev('genero')}" class="form-label" th:text="${g}"></label>
				</div>
				<div class="col alert alert-danger" th:if="${#fields.hasErrors('identificador')}"
					th:errors="*{identificador}"></div>
			</div>

			<div class="form-group row mb-3">
				<label for="identificador" class="col-form-label col-sm-2">identificador</label>
				<div class="col-sm-2">
					<input type="text" class="form-control form-control-sm" id="identificador"
						th:field="*{identificador}">
				</div>
				<div class="col alert alert-danger" th:if="${#fields.hasErrors('identificador')}"
					th:errors="*{identificador}"></div>
			</div>

			<div class="form-group row mb-3">
				<label for="nombre" class="col-form-label col-sm-2">nombre</label>
				<div class="col-sm-2">
					<input type="text" class="form-control form-control-sm col-sm-2" id="nombre"
						th:field="*{nombre}">
				</div>
				<div class="col alert alert-danger" th:if="${#fields.hasErrors('nombre')}"
					th:errors="*{nombre}"></div>
			</div>

			<div class="form-group row mb-3">
				<label for="apellido" class="col-form-label col-sm-2">apellido</label>
				<div class="col-sm-2">
					<input type="text" class="form-control form-control-sm col-sm-2" id="apellido"
						th:field="*{apellido}">
				</div>
				<div class="col alert alert-danger" th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}"></div>
			</div>

			<div class="form-group row mb-3">
				<label for="username" class="col-form-label col-sm-2">Username</label>
				<div class="col-sm-2">
					<input type="text" class="form-control form-control-sm col-sm-2" id="username"
						th:field="*{username}">
				</div>
				<div class="col form-control form-control-sm alert alert-danger"
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
			</div>

			<div class="form-group row mb-3">
				<label for="password" class="form-label col-sm-2">Password</label>
				<div class="col-sm-2">
					<input type="password" class="form-control form-control-sm col-sm-2" id="password"
						th:field="*{password}">
				</div>
				<div class="col alert alert-danger" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}"></div>
			</div>

			<div class="form-group row mb-3">
				<label for="email" class="form-label col-sm-2">email</label>
				<div class="col-sm-2">
					<input type="text" class="form-control form-control-sm col-sm-2" id="email"
						th:field="*{email}">
				</div>
				<div class="col alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				<!-- <div class=""  th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div> -->
			</div>

			<div class="form-group row mb-3">
				<label for="cuenta" class="form-label col-sm-2">cuenta</label>
				<div class="col-sm-2">
					<input type="text" class="form-control form-control-sm col-sm-2" id="cuenta" name="cuenta"
						th:field="*{cuenta}">
				</div>
				<div class="col alert alert-danger" th:if="${#fields.hasErrors('cuenta')}"
					th:errors="*{cuenta}"></div>
			</div>

			<div class="form-group row mb-3">
				<label for="fechaNacimiento" class="form-label col-sm-2">fechaNacimiento</label>
				<div class="col-sm-2">
					<input type="date" class="form-control form-control-sm col-sm-2" id="fechaNacimiento"
						th:field="*{fechaNacimiento}" placeholder="yyyy-MM-dd">
				</div>
				<div class="col alert alert-danger" th:if="${#fields.hasErrors('fechaNacimiento')}"
					th:errors="*{fechaNacimiento}"></div>
			</div>

			<div class="form-group row mb-3">
				<label for="pais" class="form-label col-sm-2">pais</label>
				<div class="col-sm-2">
					<select class="form-control form-control-sm" id="pais" th:field="*{pais}">
						<!-- <option th:each="p : ${paisesMap.entrySet()}" th:text="${p.value}" th:value="${p.key}"></option> -->
						<option value="">--Seleccionar--</option>
						<option th:each="p : ${listapaises}" th:text="${p.nombre}" th:value="${p.id}"></option>

					</select>
				</div>
				<div class="col alert alert-danger" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
			</div>

			<div class="form-group row mb-3">
				<label for="roles" class="form-label col-sm-2">roles</label>
				<div class="form-control-sm col-sm-2" th:each="role: ${listaRoles}">
					<input type="checkbox" th:field="*{roles}" th:value="${role.id}"
						th:checked="${#lists.contains(usuario.roles,role)}"> <label class="form-label"
						th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label>
				</div>
				<div class="col alert alert-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
			<input type="hidden" th:field="*{valorsecreto}">
		</form>
	</div>
</body>
</html>