<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titulo}">Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
</head>
<body class="container mb-3">
<section th:replace="componentes/tiempo :: interceptor">
</section>

	
	<h1 th:text="${titulo}"></h1>
	<ul class="list-group list-group-flush">
		<li class="list-group-item" th:text="'Habilitado: ' + ${usuario.habilitar}"></li>
		<li class="list-group-item" th:text="'Genero: ' + ${usuario.genero}"></li>
		<li class="list-group-item" th:text="${usuario.identificador}"></li>
		<li class="list-group-item" th:text="${usuario.nombre}"></li>
		<li class="list-group-item" th:text="${usuario.apellido}"></li>
		<li class="list-group-item" th:text="${usuario.username}"></li>
		<li class="list-group-item" th:text="${usuario.password}"></li>
		<li class="list-group-item" th:text="${usuario.email}"></li>
		<li class="list-group-item" th:text="${usuario.cuenta}"></li>
		<li class="list-group-item" th:text="${#dates.format(usuario.fechaNacimiento, 'dd/MMM/yyyy')}"></li>
		<li class="list-group-item" th:text="${usuario.pais.codigo}"></li>
		<li class="list-group-item" th:text="${usuario.pais.nombre}"></li>
		<li class="list-group-item" th:text="${usuario.valorsecreto}"></li>
	</ul>

	<h3>Roles</h3>
	<ul class="list-group">
		<li class="list-group-item list-group-item-action" th:each="role : ${usuario.roles}"
			th:text="${role.id} +' ' +${role.nombre}"></li>
	</ul>



</body>
</html>