<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="'SB: MVC,Thymeleaf,DataJPA - '+${titulo}">Insert title here</title>
	<!-- SECCION DE CSS -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">

	<!-- SECCION DE JAVASCRIPT: jquery, popper, bootstrap y jquery ui deben ir en ese orden -->
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
	<script type="text/javascript">
		const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
		const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
	</script>

</head>

<body>
	<!-- SECCION DE BARRA DE MENU EN CABECERA DE PAGINA -->
	<header layout:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(82, 98, 116)">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Spring Boot</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link text-info active" aria-current="page" href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link text-light" th:href="@{/listar}">Clientes</a></li>

					</ul>
					
				</div>
				<!-- SECCION DE LOGIN y LOGOUT -->
				<ul class="navbar-nav navbar-end mx-4">
					<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="btn btn-primary" th:href="@{/login}">Login</a></li>
					<li sec:authorize="isAuthenticated()" class="dropdown-center">
						<a class="btn btn-outline-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  <span sec:authentication="name"></span>
						</a>
					  
						<ul class="dropdown-menu dropdown-menu-light">
							<li class="dropdown-item">
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button class="nav-link dropdown-item" type="submit" onclick=" document.getElementById('logoutForm').submit();">Sign Out</button>
								<!--IMPORTANTE EL HIDDEN PARA ENVIAR EL TOKEN-->
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
							</form>
						</li>
						 
						</ul>
					  </li>
				</ul>
				
				<!--SECCION DE LENGUAJE-->
				<ul class="navbar-nav navbar-end mx-auto">
					<!--<li class="nav-item mx-1"><a th:href="@{/locale(lang=es_ES)}" class="btn btn-outline-success" role="button">ES</a></li>
					<li class="nav-item mx-1"><a th:href="@{/locale(lang=en_US)}" class="btn btn-outline-success" role="button">EN</a></li>-->
					<li class="nav-item dropdown">
						<a id="dropdownLenguaje" class="btn btn-outline-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  <span th:text="#{text.locale.language}"></span><i class="bi bi-translate"></i></span>
						</a>
						
						<ul class="dropdown-menu" aria-labelledby="dropdownLenguaje">
							<li class="dropdown-item"><a class="nav-link"  th:href="@{/locale(lang=es_ES)}" th:text="#{text.locale.es}"></a></li>
							<li class="dropdown-item"><a class="nav-link"  th:href="@{/locale(lang=en_US)}" th:text="#{text.locale.en}"></a></li>
						</ul>
						
					</li>
				</ul>
			</div>
		</nav>

		<div th:if="${message}" class="alert-dismissible fade show"
			th:class="${'alert ' + alertClass + ' alert-dismissible fade show' }" role="alert" data-bs-dismiss="alert">
			<strong th:text="${message}"></strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

	</header>

	<!-- SECCION DE CONTENIDO, AQUI SE REEMPLAZA EL CONTENIDO DE CADA VISTA -->
	<div class="container py-4" layout:fragment="content"></div>

	<!-- SECCION DE PIE DE PAGINA -->
	<footer layout:fragment="footer" class="container">
		<p>
			Powered by <a href="https://projects.spring.io/spring-boot/">SpringBoot</a> y <a href="http://www.thymeleaf.org">Thymeleaf</a>
			Este proyecto fue desarrrollado en IDE Eclipse + Spring Plugins STS 4.11 <br />&copy; Company 2021, Inc.
			Todos los derechos reservados. Terminos de uso y privacidad
		</p>
		
		<p sec:authorize="isAuthenticated()">
			Usuario Logeado <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span></p>
	</footer>

</body>
</html>