<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base.html}">

<body>
	<div layout:fragment="content">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn bt-xs btn-primary " th:href="@{'/ver/' + ${factura.cliente.id}}"><span class="material-symbols-outlined">arrow_back_ios</span></a>
				</h4>

				<form th:action="@{/factura/form}" th:object="${factura}" method="post">

					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label col-form-label-sm" th:text="'Cliente'"></label>
						<div class="col-sm-6">
							<input th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}" disabled="disabled" class="form-control form-control-sm">
						</div>
					</div>

					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label col-form-label-sm" th:text="'Descripción'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{descripcion}" class="form-control form-control-sm" th:errorclass="'form-control is-invalid'">
							<div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="invalid-feedback"></div>
						</div>
					</div>

					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label col-form-label-sm" th:text="'Observación'"></label>
						<div class="col-sm-6">
							<textarea th:field="*{observacion}" class="form-control form-control-sm"></textarea>
						</div>
					</div>
					
					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label col-form-label-sm" th:text="'Buscar Producto'"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_producto" id="buscar_producto" class="form-control form-control-sm">
						</div>
					</div>

					<!--INSERTA LA PLANTILLA  itemsFactura DESDE EL ARCHIVO autocomplete-productos-->
					<table th:replace="factura/js/autocomplete-productos :: itemsFactura"></table>

					<!--EN EL TBODY DE ESTA TABLA SE CARGARAN LAS LINEAS DE LOS PRODUCTOS SELECCIONADOS MEDIANTE JQUERY -->
					<table id="cargarItemProductos" class="table table-bordered table-sm  table-hover">
						<thead class="table-info">
							<tr>
								<th>SKU</th>
								<th>Nombre</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>Total</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<h5>Total: <span id="gran_total" class="badge bg-secondary">0</span></h5>

					<div class="mb-3 row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}" class="btn btn-secondary">
						</div>
					</div>

					<script th:replace="factura/js/autocomplete-productos :: javascript"></script>
				</form>

			</div>
		</div>
	</div>

</body>
</html>