<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base.html}">
<body>
    <div layout:fragment="content">
        <div class="container py-4">
            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>                               
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="btn btn-sm btn-outline-secondary " th:href="@{'/ver/' + ${factura.cliente.id}}"><span class="material-symbols-outlined">arrow_back</span></span></a>
                        <a class="btn btn-sm btn-outline-info float-end mx-2" th:href="@{'/factura/ver/' + ${factura.id}(format=pdf)}"><i class="bi bi-file-pdf"></i>PDF</a>
                        <a class="btn btn-sm btn-outline-success float-end" th:href="@{'/factura/ver/' + ${factura.id}(format=xlsx)}"><i class="bi bi-file-earmark-spreadsheet"></i>XLS</a>
                    </h4>

                    <ul class="list-group my-2">
                        <li class="list-group-item list-group-item-primary" th:text="'Datos del cliente'"></li>
                        <li class="list-group-item" th:text="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"></li>
                        <li class="list-group-item" th:text="${factura.cliente.email}"></li>
                    </ul>

                    <ul class="list-group my-2">
                        <li class="list-group-item list-group-item-success" th:text="'Datos de la factura'"></li>
                        <li class="list-group-item" th:text="'Folio:  ' + ${factura.id}"></li>
                        <li class="list-group-item" th:text="'Descripcion: ' + ${factura.descripcion}"></li>
                        <li class="list-group-item" th:text="'Fecha: ' + ${factura.createAt}"></li>
                        
                    </ul>
                    <div class="alert alert-info my-4" th:if="${ #lists.isEmpty(factura.items)}" th:text="'No existen productos asignados a la factura'"></div>
                    <table class="table table-striped table-bordered table-hover my-3">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="linea : ${factura.items}">
                                <td th:text="${linea.producto.nombre}"></td>
                                <td th:text="${linea.producto.precio}"></td>
                                <td th:text="${linea.cantidad}"></td>
                                <td th:text="${linea.calcularImporte()}"></td>
                            </tr>
                        </tbody>

                    </table>
                   
                    <h5 class="float-end">Total: <span id="gran_total" class="badge bg-secondary" th:text="${factura.total}"></span></h5>
                   
                    <div class="card border-info mb-4" style="max-width: 20rem;">
                        <div class="card-header">Observacion</div>
                        <div class="card-body">
                            <p class="card-text" th:text="${factura.observacion}" th:if="${not #strings.isEmpty(factura.observacion)}"></p>
                            <h4 class="card-title" th:if="${#strings.isEmpty(factura.observacion)}" th:text="'No tiene Observaciones'"></h4>
                        </div>
                    </div>
                    <a class="btn btn-xs btn-outline-info " th:href="@{'/ver/' + ${factura.cliente.id}}"><i class="bi bi-chevron-double-left"></i></a>
            </div>                
        </div>
    </div>
    
</body>
</html>