
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>

	<h3 th:text="${titulo}"></h3>
	<p th:text="${usuario.id}"></p>
	<p th:text="${usuario.nombre}"></p>
	<p th:text="${usuario.apellido}"></p>
</body>
</html>