<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ooops ha ocurrido un error</title>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<h1 th:text="'Lo sentimos, pagina no encontrada 404'"></h1>
<div>
	<p th:text="${error}"></p>
</div>


<div>
	<p th:text="${status}"></p>
</div>

<div>
	<p th:text="${timestamp}"></p>
</div>

<div>
	<p class="text-break" th:text="${path}"></p>
</div>

</body>
</html>