<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${error}"></title>
<!-- Compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="container">
<h1 th:text="${error}"></h1>


<div>
	<p th:text="${message}"></p>
</div>

<div>
	<p th:text="${status}"></p>
</div>

<div>
	<p th:text="${timestamp}"></p>
</div>


</body>
</html>