<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titulo}">Insert title here</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<h2 class="display-5" th:text="${titulo}"></h2>
	<h3 th:text="${factura.descripcion}"></h3>
	<div class="waves-effect waves-light btn">Cliente: <span th:text="${factura.cliente.nombre + ' ' + factura.cliente.apellido}"></span></div>
 <br />
	<h4>Detalle Factura</h4>
	<table class="green lighten-4 table responsive-table highlight ">
		<thead class=" light-green lighten-4 z-depth-1">
			<tr>
				<th>Producto</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${factura.items}">
				<td th:text="${item.producto.nombre}"></td>
				<td th:text="${item.producto.precio}"></td>
				<td th:text="${item.cantidad}"></td>
				<td th:text="${item.calcularImporte()}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>