<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base.html}">
<body>

	<div layout:fragment="content" class="py-4 container">

        <div class="card" style="width:80%;">
          <div class="card-header bg-danger">Acceso Denegado</div>
          <div class="card-body">
            <h5 class="card-title">Lo sentimos <span th:text="${#authentication.name}"></span> no tienes permisos</h5>
            <!-- <h5 class="card-title">Lo sentimos <span th:text=""${#httpServletRequest.remoteUser}></span> no tienes permisos</h5> -->
            <p class="card-text">Las credenciales utilizada no tiene permisos a esta vista</p>
            <a th:href="@{/listar}" class="btn btn-outline-secondary" role="button">Ir al Inicio</a>
          </div>
        </div>

    
    </div>
</body>
</html>