<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base.html}">

<body>

	<div layout:fragment="content">

		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">


					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input class="form-control" type="text" th:field="*{nombre}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-tex text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>

					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-6">
							<input class="form-control" type="text" th:field="*{apellido}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-tex text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>

					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-6">
							<input class="form-control" type="email" th:field="*{email}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-tex text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label">Fecha</label>
						<div class="col-sm-6">
							<input class="form-control" type="date" th:field="*{createAt}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-tex text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
						</div>
					</div>
					
					<div class="mb-3 row">
						<label class="col-sm-2 col-form-label">Foto</label>
						<div class="col-sm-6">
							<input class="form-control" type="file" name="file">
						</div>
					</div>

					<div class="form-group my-3">
						<div class="col-sm-6">
							<input class="btn btn-primary" type="submit"
								value="Crear Cliente">
						</div>
					</div>

					<!-- <input type="hidden" th:field="*{id}"> -->
				</form>
			</div>
		</div>

	</div>
</body>
</html>
