<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base.html}">
<body>

	<div layout:fragment="content" class="py-4 container">

		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<p>
					<a th:href="@{/form}" class="btn btn-success btn-xs mx-1" sec:authorize="hasRole('ADMIN')">Crear clientes</a>
					<a class="btn btn-lg btn-outline-success float-end mx-1" th:href="@{'/listar'(format=csv)}"><i class="bi bi-filetype-csv"></i></a>
					<a class="btn btn-lg btn-outline-secondary float-end mx-1" th:href="@{'/listar'(format=xml)}"><i class="bi bi-filetype-xml"></i></a>
					<a class="btn btn-lg btn-outline-warning float-end mx-1" th:href="@{'/listar'(format=json)}"><i class="bi bi-filetype-json"></i></a>
				</p>

				<table class="table table-striped">
					<thead>
						<tr>
							<th sec:authorize="hasRole('USER')">id</th>
							<th th:text="#{text.cliente.nombre}">nombre</th>
							<th th:text="#{text.cliente.apellido}">apellido</th>
							<th th:text="#{text.cliente.email}">Correo</th>
							<th th:text="#{text.cliente.fecha}">Fecha</th>
							<th sec:authorize="hasRole('ADMIN')">Crear Factura</th>
							<th sec:authorize="hasRole('ADMIN')">Editar</th>
							<th sec:authorize="hasRole('ADMIN')">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente : ${clientes}">
							<td sec:authorize="hasRole('USER')"><a class="btn btn-primary btn-xs" th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-xs btn-secondary" th:href="@{'/factura/form/' + ${cliente.id}}" th:text="'crear'"></a></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-xs btn-secondary" th:href="@{'/form/' + ${cliente.id}}" th:text="'editar'"></a></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-xs btn-danger" th:href="@{'/eliminar/' + ${cliente.id}}" th:text="'eliminar'"
								onclick="return confirm('Estas Seguro de Eliminar?')"></a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="~{paginator-nav :: paginator}"></nav>

			</div>
		</div>
	</div>

</body>
</html>