<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base.html}">
<body>
	<div layout:fragment="content">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4>
					<a sec:authorize="hasRole('ADMIN')" class="btn btn-xs btn-primary" th:href="@{'/factura/form/' + ${cliente.id}}" title="agregar Factura" data-bs-toggle="tooltip"
						data-bs-placement="top"> <span class="material-symbols-outlined">add_business</span>
					</a>
				</h4>

				<img th:if="${#strings.length(cliente.foto) > 0}" class="img-thumbnail rounded " style="max-width: 20%" th:src="@{'/uploads/' + ${cliente.foto}}"
					alt="${cliente.foto}" />
				<ul class="list-group">
					<li class="list-group-item" th:text="${cliente.nombre}"></li>
					<li class="list-group-item" th:text="${cliente.apellido}"></li>
					<li class="list-group-item" th:text="${cliente.email}"></li>
					<li class="list-group-item" th:text="${cliente.createAt}"></li>
				</ul>

				<!-- cuadro de mensaje para cuando no hay facturas -->
				<div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-info my-4"
					th:text="'No existen Facturas asignadas al cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>

				<!--tabla para mostrar las facturas -->
				<table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr>
							<th>folio</th>
							<th>descripcion</th>
							<th>fecha</th>
							<th>total</th>
							<th sec:authorize="hasRole('ADMIN')">ver</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="factura: ${cliente.facturas}">
							<td th:text="${factura.id}"></td>
							<td th:text="${factura.descripcion}"></td>
							<td th:text="${factura.createAt}"></td>
							<td th:text="${factura.total}"></td>
							<td sec:authorize="hasRole('ADMIN')">
								<a sec:authorize="hasRole('ADMIN')" class="btn btn-xs btn-info" th:href="@{'/factura/ver/' + ${factura.id}}"><i class="bi bi-ticket-detailed"></i></a>
								<a sec:authorize="hasRole('ADMIN')" class="btn btn-xs btn-danger" th:href="@{'/factura/eliminar/' + ${factura.id}}" onclick="return confirm('¿Desea eliminar la factura?');" title="Eliminar Factura" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bi bi-trash3"></i></a>
							</td>
						</tr>

					</tbody>
				</table>


			</div>
		</div>
	</div>
</body>
</html>