<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pagina Spring Boot</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<br />
	<h1 class="color-rojo">Recibir parametros con RequestParams o HttpServletRequest</h1>
	<div>
		<ul>
			<li><a th:href="@{/params/string(texto='Hola Abel')}">/params/string?texto=Hola Abel</a></li>
			<li><a th:href="@{/params/string(texto='Hola Nakamura')}">/params/string?texto=Hola Nakamura</a></li>
			<li><a th:href="@{/params/mix-params(saludo='Como estas Abel', numero=27)}">/params/mix-params?saludo=como estas Abel&numero=27</a></li>
			<li><a th:href="@{/params/mix-params-request(saludo='Como estas Abel', numero=27)}">/params/mix-params-request?saludo=como estas Abel&numero=27</a></li>
		</ul>
	</div>
	<h1 class="color-azul">Enviar parametros en la ruta</h1>
	<div>
		<ul>
			<li><a th:href="@{/variables/string/} + 'Hola Abel'">/variables/string/Hola Abel</a></li>
			<li><a th:href="@{/variables/string/} + 'Que tal Said'">/variables/string/Que tal Said</a></li>
			<li><a th:href="@{/variables/string/} + 'Saludos Abel' +'/' + 27">/variables/Saludos Abel/27</a></li>
		</ul>
	</div>
</body>
</html>