<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pagina Spring Boot</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<div th:if="${usuarios.size()==0}">no hay usuarios registrados en
		la BD</div>

	<table th:if="${not usuarios.isEmpty()}">
		<thead>
			<tr>Nombre
			</tr>
			<tr>Apellido
			</tr>
			<tr>Email
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.email}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>