<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pagina Spring Boot</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<span th:text="${usuario.nombre}"></span>
	<br>
	<span th:if="${usuario.email}" th:text="${usuario.email}"></span>
	<span th:if="${usuario.email == null}" th:text="El usuario no tiene correo"></span>
</body>
</html>