<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${titulo}"></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Spring Boot</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listar}">Clientes</a></li>

				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<h1 th:text="${titulo}" class="text-secondary border border-warning border-top-0 border-end-0 border-start-0"></h1>
		<a class="btn btn-primary btn-xs" th:href="@{/listar}">listar clientes</a>

		<div th:object="${cliente}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>

		<form th:action="@{/form}" th:object="${cliente}" method="post">


			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" th:field="*{nombre}" th:errorclass="'form-control alert-danger'"> 
					<small class="form-tex text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" th:field="*{apellido}" th:errorclass="'form-control alert-danger'"> 
					<small class="form-tex text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-6">
					<input class="form-control" type="email" th:field="*{email}" th:errorclass="'form-control alert-danger'"> 
					<small class="form-tex text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				</div>
			</div>

			<div class="mb-3 row">
				<label class="col-sm-2 col-form-label">Fecha</label>
				<div class="col-sm-6">
					<input class="form-control" type="date" th:field="*{createAt}" th:errorclass="'form-control alert-danger'"> 
					<small class="form-tex text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
				</div>
			</div>

			<div class="form-group my-3">
				<div class="col-sm-6">
					<input class="btn btn-primary" type="submit" value="Crear Cliente">
				</div>
			</div>

			<!-- <input type="hidden" th:field="*{id}"> -->
		</form>

	</div>
</body>
</html>
